@import 'variables';
@import 'mixins';

// Variables
@mixin tile-active-color($color) {
    @include tile-gradient($color);
    box-shadow: 0 0 10px 2px $color;
}

// Target controls
.tile-controls {
    width: 100%;
    margin-bottom: 16px;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .tile-controls__option-wrapper {
        label {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            // Default tile appearaance
            .tile-controls__input--custom {
                display: block;
                width: 30px;
                height: 30px;
                margin-bottom: 4px;
                order: 0;

                box-shadow: 0 0 0 0 transparent;
                filter: saturate(0.8);
                opacity: .3;

                border-radius: $border-radius;
                cursor: pointer;
                transition: 150ms;
                
                &.entry {
                    @include tile-active-color(limegreen);
                }

                &.shelf {
                    @include tile-active-color(rgb(0, 183, 255));
                }

                &.register {
                    @include tile-active-color(purple);
                }

                &.exit {
                    @include tile-active-color(darkred);
                }
            }
            
            input[type="radio"] {
                display: none;
            }

            .tile-controls__text {
                opacity: .3;
            }
            
            input[type="radio"]:checked + .tile-controls__input--custom {
                transform: scale(1.05);
                filter: saturate(1);
                opacity: 1;
            }

            input[type="radio"]:checked ~ .tile-controls__text {
                opacity: 1;
            }

            &:hover > input[type="radio"] ~ .tile-controls__text {
                opacity: 1;
            }
        }
    }
}