@import 'variables';

.dialog__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(white, 0.3);
    backdrop-filter: blur(5px);
    transition: 300ms;

    .dialog {
        padding: 16px;

        background-color: white;
        border-radius: $border-radius;
        box-shadow: 0 2px 10px 0 rgba(black, .48);
    }

    .dialog__title {
        margin-bottom: 16px;
    }

    .dialog__content {
        margin-bottom: 16px;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .dialog__content__message {}

        select {
            margin: 8px auto;
        }
    }

    .dialog__actions {
        display: flex;
        justify-content: flex-end;        
        
        button {
            margin: 0 6px;
            padding: 6px 12px;
            
            color: white;
            min-width: 50px;
            background-color: rgb(0, 179, 250);
            outline: none;
            border: none;
            border-radius: $border-radius;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }

            cursor: pointer;
        }
    } 
}