@import 'variables';
@import 'mixins';

// MESH
.mesh__container {
    position: relative;
    margin-bottom: 24px;

    button {
        $darkColor: rgba(black, .87);
        @include button--border(#fff, $darkColor, 1px, $darkColor);
        position: absolute;
        margin: 0;
        padding: 0;

        &:hover {
            transition: $button-transition--short;
        }
    }

    &__button--top {
        top: 0;
        left: $button--mesh-control;
        width: calc(100% - 2* #{$button--mesh-control});
        height: $button--mesh-control;
    }

    &__button--bottom {
        bottom: 0;
        left: $button--mesh-control;
        width: calc(100% - 2* #{$button--mesh-control});
        height: $button--mesh-control;
    }

    &__button--left {
        top: $button--mesh-control;
        left: 0;
        bottom: $button--mesh-control;
        width: $button--mesh-control;
    }

    &__button--right {
        top: $button--mesh-control;
        right: 0;
        bottom: $button--mesh-control;
        width: $button--mesh-control;
    }
}

table.mesh {
    border-spacing: 0;
    margin: calc(#{$button--mesh-control} + 4px);
}

.mesh__row {
    display: flex;

    &:not(:last-child) {
        .mesh__element { 
            border-bottom: none;
        }
    }

    .mesh__element {
        width: 30px;
        height: 30px;

        display: flex;
        align-items: center;
        justify-content: center;

        border: 1px solid rgba(black, .87);
        background-color: transparent;
        border-radius: $border-radius;
        font-size: 10px;
        cursor: pointer;
        transition: $button-transition;

        &:not(:last-child) {
            border-right: none;
        }
            
        &.selected {
            background: rgb(155, 250, 198);
            background: linear-gradient(45deg, rgba(black, 0.30) 0%, rgba(black, 0.10) 100%);
        }

        &.entry {
            @include tile-gradient(limegreen);
        }

        &[class*="shelf"] {
            @include tile-gradient(rgb(0, 183, 255));
        }

        &.register {
            @include tile-gradient(purple);
        }

        &.exit {
            @include tile-gradient(darkred);
        }

        &:not(.selected):hover {
            background-color: rgba(black, .15);
        }        
    }
}

button[name='export-json'] {
    font-size: 18px;
    font-weight: bold;
}