// Colors
$color-base: rgb(255, 253, 239);
$color-primary: rgb(163, 0, 163);
$color-accent: rgb(253, 229, 13);
$text-on-primary: rgba(white, .87);
$text-on-accent: rgba(black, .87);

// Sizes
$header-height: 56px;
$border-radius: 4px;

// Spacing